@import url(http://fonts.googleapis.com/css?family=Pacifico);



/*Reset-styleshhet
-----------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of Reset - stylesheet
--------------------------------------------------------------------
/*CSS -Stylesheet
======================================================================================================*/
#container{
    width: 660px;
    height:auto;
	background-color:#cce889;/*#c2d8fc;*/
	margin:0 auto;
	padding:0;
	background-image:url("pics/20.png");
	background-repeat:no-repeat;
	background-size:660px 130px;
	margin-top:-22px;

}


h1{
	margin-bottom:50px;
}

/*body{
	background-color:#FFF;
}*/
main {

	background-color: #FFF;
	width: 600px;
	margin:10px auto 10px auto;
	height:auto;
	margin-top:150px;
	padding-bottom:50px;
}

footer{
	margin-top:50px;
	clear:both;
}

footer p {
	font-family:'Pacifico', cursive;
	font-size:2.2em;
	text-align:right;
	color:#fff;
	margin:10px;
	padding-bottom:10px;
}
.comment-paragraf{
	width:500px;
	margin:2px;
}
/*=======================================================p - total comments*/
.count-comments{
	font-size:1em;
	font-family:'Times';
	float:right;
	margin-right:26px;
	margin-bottom:-2px;
	color:#888;
}

.count-length{
	font-size:1.3em;

}

/*=========================================================page*/
#page{
	width:auto;
	height:auto;
	color:#555;
	margin:20px;
	border-bottom:1px solid #e1e1e1;
	border:none;

}

/*==========================================================comment area*/
.main-comment{
	margin:20px;
	width:auto;
	height:auto;
	color:#444;

}

.comment-title{
	height:45px;
	line-height:37px;
	font-size:1.4em;
	font-family:'Arial';
	margin:0 5px 0 5px;
	color:#555;

}

/*====================================================posted comments*/
.comments-list{
	font-size:1em;
	font-family:'Times';
	margin:10px 5px 10px 5px;
	color:#555;
	color:#766;

}

#comment-holder{
	list-style-type:none;
	margin:0px;
	padding:0px;
	width:auto;
	height:auto;
}


.comment-holder-li{
	list-style-type:none;
	margin:5px 0px 5px 0px;
 	border:1px solid black;/*#e1e1e1;*/
 	padding-left:5px;
 	padding-right:5px;
	background-color:#cce889;
	min-height:80px;
	display:block;

	
}

.comment-holder-li:hover{
	background-color:#FDB;
}

/*=======================================================date*/
.comment-date{
	float:right;	
}

.writen-date{
	
	font-family:Arial;
	color:red;
	font-size:0.7em;
	float:right;
	position: relative;
	margin-right:18px;
	padding-top:10px;
	margin-top:-25px;

}


/*========================================================buttons*/

.comment-upp-buttons ul{
    margin: 10px;
    padding: 5px;

}

.comment-upp-buttons li{

   	width: 60px;
    display: inline;
    border:none;
	list-style-type: none;
	padding: 10px;
	

}
	
.date-button, .delete-button{
	width: 60px;
    display: inline;
	float:right;
	position: relative;
	width:24px;
	height:24px;
	top:-10px;
	cursor:pointer;

	
}

.date-button:hover{
	-webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    transform: scale(1.2);	
}
.date-button:active{
	-webkit-transform: scale(1); 
    -moz-transform: scale(1);
    transform: scale(1);	
}

.delete-button:hover{
	-webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    transform: scale(1.2);	
}
.delete-button:active{
	-webkit-transform: scale(1.0); 
    -moz-transform: scale(1.0);
    transform: scale(1.0);	
}


/*==================================================comments textarea*/
.comment-box{
	height:130px;
	width:auto;
	margin:5px;
	margin-right:20px;
	margin-left:25px;
	margin-top:55px;
	min-height:100px;


}

#comment-box{
	width:98%;
	color:#223;/*#272426;*/
	height:98%;
	position:relative;
	resize:none;
	margin-top:-1px;

}

#comment-box:hover{
	border:2px solid #279521;
}

#comment-publish-button{
	margin-top:-2px;
	float:right;
	margin-right:25px;

}
#publish-button{
	cursor:pointer;
}