


/*Reset-styleshhet
-----------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of Reset - stylesheet
--------------------------------------------------------------------
/*CSS -Stylesheet
======================================================================================================*/
#container{
    width: 660px;
    height:auto;
	background-color:#cce889;/*#c2d8fc;*/
	margin:0 auto;
	padding:0;
	background-image:url("pics/20.png");
	background-repeat:no-repeat;
	background-size:660px 130px;
	margin-top:-22px;

}

h1{
	padding-top:40px;
	padding-left:200px;
	font-family:'arial';
	font-size:1.6em;
	line-height:1.7em;
}


#main {

	background-color: #FFF;
	width: 600px;
	margin:10px auto 10px auto;
	height:auto;
	margin-top:150px;
	padding-bottom:10px;
	padding-top:30px;

}


	

footer{
	margin-top:50px;
	clear:both;
}

footer p {
	font-family:'Pacifico', cursive;
	font-size:2.2em;
	text-align:right;
	color:#fff;
	margin:10px;
	padding-bottom:10px;
}

/*=============================memory board=========*/
#memoryBoard{
	width: 220px;
	height:220px;
	
	background-color:#fff;/*#e1e1e1;*/

	padding:20px 20px  20px 20px;
	margin-left:160px;
	padding-top:30px;
	padding-bottom:0px;
	
	box-shadow:3px 0px 8px  0px #bdbdbd inset;
	box-shadow:0px 0px 10px  3px #bdbdbd inset;
}


/*========================default pictures==============*/
.defaultPicture{
	cursor:pointer;
	float:left;
	padding-right:15px;
	padding-left:15px;
	padding-bottom:10px;
	padding-top:10px;
	width:24px;
	height:24px;
	-webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    transform: scale(1.2);	
	
}

.defaultPicture:hover{
	-webkit-transform: scale(1.4); 
    -moz-transform: scale(1.4);
    transform: scale(1.4);	
}
.defaultPicture:active{
	-webkit-transform: scale(1); 
    -moz-transform: scale(1);
    transform: scale(1);	
}

#score-holder{
	padding:20px 20px  20px 20px;
	padding-left:40px;
	font-family:'arial';
	font-size:1.3em;
	color:green;
	
}